.myCountContainer {
  margin-top: 20px;
}
.myCount {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  line-height: 15px;
}
